@charset "utf-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none;}
html,body{height: 100%;}
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
body { color:#333; font:14px/20px "微软雅黑"; background:#fff;overflow-y:scroll; overflow-x:hidden;}
a { color:#333; text-decoration:none; }

/* banner */
.banner {width: 100%;position: relative;margin-bottom: 80px;}
.prev {position: absolute;width: 42px;height: 78px;background: url(../img/wtjicon.png) no-repeat -125px -30px;left: 10px;top: 50%;z-index: 9}
.prev:hover{background-position: -220px -30px;}
.next {position: absolute;width: 42px;height: 78px;background: url(../img/wtjicon.png) no-repeat -168px -30px;right: 10px;top: 50%;z-index: 9;}
.next:hover{background-position: -265px -30px;}

.imgbox a {position: absolute;width: 100%;left: 1349px;}
.imgbox a img {width:100%;height: 548px;}
.imgbox a:nth-child(1) {left: 0}

.banner-list {position: absolute;z-index: 3;background: #fff;top: 30px;left: 40px;width: 90px;}
.banner-list>li{line-height: 45px;text-align: center;border-bottom: 1px solid #f0f0f0;cursor: pointer;}
.banner-list>li:last-child {border-bottom: none;}
.banner-list>li:hover{background: #111;color: #fff}
.banner-list>li i {font-style: normal}

.banner-list-box {width: 0px;height: 183px;background: #111;position: absolute;left: 90px;top: 0;overflow: hidden;}
.banner-list-box ul{float: left; margin: 30px 0 30px 50px }
.banner-list-box a {color: #fff;font-size: 12px;display: block;height: 26px;line-height: 26px;text-align: left;}

/* recomd */
.recommd-t {overflow: hidden;}
.recommd-t h2 {width: 181px;height: 44px;background: url(../img/wtjicon.png) no-repeat 0px  -136px;display: inline-block}
.recommd-t .more {float: right;width: 89px;height: 43px;padding: 25px 25px 0 0;}
.more i {display: inline-block;width: 17px;height: 17px;background: url(../img/wtjicon.png) no-repeat -18px -26px;margin: 1px 0 0 7px;}

.recomd-b {margin-bottom: 80px;}
.wtj-link {height: 80px;line-height: 80px;border-bottom: 1px solid #000;width: 80px;margin: 0 auto;}

/* mytake */
.mytake .mytake-t h2 {background-position: 0 -181px;}
.mytake-ul {display: flex;justify-content: space-around;margin: 30px 0;}
.mytake-ul li a img {width: 280px;height: 280px;}
.mytake-ul li:hover {opacity: .8;}

.mytake-nav {border-bottom: 1px solid #000;position: relative;height: 10px;overflow: hidden;}
.mytake-arrow {width: 280px;text-align: center;position: absolute;}
.mytake-arrow img {display: inline-block;}

.works {margin-top: 30px;overflow: hidden;display: none;}
.works1 {display: block;}
.author-info {widows: 460px;float: left;}
.author-info img {float: left; margin-left: 17px;width: 64px;height: 64px;border-radius: 50%;}
.author {width: 360px;float: left;;margin-left: 20px;}
.author h3 {font-weight: normal;}
.tlt-author {font-size: 12px;cursor: pointer;}
.author p {margin-top: 15px;line-height: 22px;font-size: 14px;}

.work-div {float: right;}
.work-ul {overflow: hidden;}
.work-ul li {float: left;margin-left: 57px;width: 110px;}
.work-ul li a {display: block;width: 110px;height: 110px;line-height: 110px;text-align: center; margin: 0 auto 16px;}
.work-ul li h3 {font-size: 12px;font-weight: normal;height: 36px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.work-ul li a img {display: inline-block; vertical-align: middle;max-height: 110px;max-width: 110px;} 

/* inspiration */
.inspiration .inspiration-t h2{background-position: 0 -227px;}

.inspiration-ul {margin-top: 30px;display: flex;justify-content: space-around;}
.inspiration-ul li {position: relative;width: 281px;}
.inspiration-ul li .inspiration-img img:hover  {opacity: .8;}
.inpirt-box {height: 280px;}
.inpirt-box .inspiration-img {width: 280px;height: 280px;}
.inpirt-box .inspiration-img img {max-width: 100%;}
.head-ico img {position: relative;width: 60px;left: 50%;margin-left: -30px;bottom: 30px; height: 60px;border: 1px solid #fff;border-radius: 50%;}
.inspiration-ul li h3 {font-weight: normal;font-size: 14px;text-align: center;height: 30px;line-height: 30px;margin-top: 40px;}
.inspiration-ul li p {text-align: center;line-height: 20px;padding: 0 15px 0 14px;overflow: hidden;height: 40px;}
.heart {text-align: center;}
.heart a {margin:0 auto;display: inline-block;text-align: center;margin-top: 10px;height: 14px;line-height: 14px}
.heart a:hover i{background-position: -17px -47px;}
.heart i {background: url(../img/wtjicon.png) no-repeat 0 -47px;width: 16px;height: 14px;margin-right: 8px;display: inline-block;}

/* guide */
.guide-t h2 {background-position: 0 -398px;}
.guide-main {margin-top: 30px;overflow: hidden;}
.guide-main-l {float: left;height: 393px;width: 523px;position: relative;}
.guide-main-l a img {width: 523px;height: 393px;}
.guide-main-l div {position: absolute;height: 80px;padding: 20px;bottom: 0;z-index: 3;}
.guide-main-l a>p {position: absolute;background: #000;width: 100%;;height: 120px;opacity: .5;bottom: 0;z-index: 2;}
.guide-main-l div h2 {font-size: 26px;font-weight: normal;line-height: 26px;color: #fff;}
.guide-main-l div p {margin-top: 16px;font-size: 12px;overflow: hidden;color: #fff;}

.guide-main-c {float: left;height: 393px;position: relative;margin: 0 10px;}
.guide-c {position: relative;margin-bottom: 10px;height: 192px;}
.guide-c a img {width: 370px;height: 192px;}
.guide-c div {position: absolute;height: 66px;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.guide-c div p {margin-bottom: 5px;text-align: center;font-size: 12px;line-height: 22px;color: #fff;}
.guide-c div h2 {text-align: center;font-size: 26px;line-height: 26px;color: #fff;font-weight: normal;}

.guide-main-r {float: left;position: relative;height: 393px;width: 285px;}
.guide-main-r a img {width: 285px;height: 393px;}
.guide-main-r a>p {position: absolute;background: #000;width: 160px;;height: 160px;opacity: .5;z-index: 2;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.guide-main-r a div {position: absolute;z-index: 3;left: 0;top: 0;right: 0;bottom: 0;margin: auto;width: 181px;height: 66px;}
.guide-main-r a div p {margin-bottom: 5px;text-align: center;font-size: 12px;line-height: 22px;color: #fff;}
.guide-main-r a div h2 {text-align: center;font-size: 26px;line-height: 26px;color: #fff;font-weight: normal;}

/* top-brands */
.brands-t h2 {background-position: 0 -450px;}

.brands-main {position: relative;height: 618px;background: url(../img/brands/topbrand1.jpg) no-repeat 50% 50%}
.tv-slideBox a {position: absolute;display: block; height: 20px;width: 13px;margin-top: -10px;top: 50%;}
.brands-main .prev_lb_b {left:90px;background-position: -189px -463px;}
.brands-main .prev_lb_b:hover {left:90px;background-position: -219px -463px;}
.brands-main .next_lb_b {right: 25px;background-position:-203px -463px}
.brands-main .next_lb_b:hover {right: 25px;background-position:-233px -463px;}

.tempWrap {height: 618px;position: relative;}
.tempWrap ul {overflow: hidden;position: absolute;width: 1075px;height: 515px;left: 0;top: 0;right: 0;bottom: 0;margin: auto;}
.clone {overflow: hidden;width: 1075px;left: 1075px;position: absolute}
.clone:nth-child(1){left: 0;}
.clone_l {float: left;}
.clone_l i {width: 80px;height: 114px;display: block;background: url(../img/wtjicon.png) no-repeat -189px -345px;}
.clone_c {float: left;height: 515px;width: 300px;position: relative;z-index: 1}
.clone_c a {display: flex; height: 330px;text-align: center;flex-direction: column;align-items: center;justify-content: center;}
.clone_c a img {width: 100px;display: inline-block}
.clone_c a p {line-height: 22px;text-align: center;}
.clone_c_b h2 {font-size: 20px;margin-bottom: 16px;text-align: center;}
.clone_c_b p {text-align: center;font-size: 16px;line-height: 30px;}
.clone_c_bg {width: 300px;height: 515px;background: #fff;opacity: .6;position: absolute;left: 0;top: 0;z-index: -1;}
.clone_r {float: left; width: 695px;height: 470px;background: #fff;padding-top: 45px;}
.clone_r a {display: block; width: 160px;float: left;margin-left: 55px;margin-bottom: 15px;}
.clone_r_div {width: 160px;height: 160px;line-height: 160px;border:1px solid #f0f0f0}
.clone_r_div img {max-width: 160px;display: inline-block;vertical-align: middle}
.clone_r a p {font-size: 12px;color: #666;line-height: 20px;white-space:nowrap;overflow: hidden;}
.clone_r a small {color: #999;}

