@charset "utf-8";

html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img { border:none;}
html,body{height: 100%;}
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol { list-style:none; } 
body { color:#333; font:12px/20px "微软雅黑"; background:#fff;overflow-y:scroll; overflow-x:hidden;}
a { color:#333; text-decoration:none; }

.layout {width: 1200px;margin: 0 auto}

/* header */
.header{height: 81px;border-bottom: 1px solid #ddd;}
.header_l {margin-top: 20px;float: left;overflow: hidden;}
.header_l .menu {float: left; width: 88px;height: 40px;background: url(../img/logo.png) no-repeat;margin: 0 73px 0 36px}
.header_l ul {float: left;}
.header_l ul li {float: left; margin-right: 60px;line-height: 40px;}
.header_l ul li a {font-size: 16px}
.header_l ul li a:hover {color: #666;}
.header_l ul li i {background: #111;font-style: normal;color: #fff;border-radius: 2px;}
.header_l .search {float: left; width: 22px;height: 22px;background: url(../img/wtjicon.png) no-repeat 0 0 ;margin-top: 9px;cursor: pointer;}
.header_l .search:hover {background: url(../img/wtjicon.png) no-repeat -25px 0}

.header_r {float: right;margin-right: 20px;display: flex;align-items: center}
.header_r a.create {display: flex; width: 100px;height: 30px;background: #111;border-radius: 15px;align-items: center;line-height: 81px;}
.header_r a.create i {width: 32px;height: 22px; background: url(../img/mybuild_btn.png) no-repeat;margin-left: 12px;}
.header_r a.create h2 {font-size: 12px;font-weight: normal;color: #fff;}
.header_r span {display: flex;align-items: center;width: 94px;height: 80px;padding-left: 40px;}
.header_r span a{float: left;}
.header_r span a i {display: block; width: 25px;height: 25px; background:url(../img/wtjicon.png) no-repeat -52px 0}
.header_r span a b {display: block; width: 14px;height: 14px;background:url(../img/wtjicon.png) no-repeat -52px -25px;margin-left: 20px}

.dropdown-menu-wtj {position: absolute;width: 140px;border-radius: 4px;top: 80px;right:0;z-index: 999;overflow: hidden;line-height: 30px;background: #fff;display: none;}
.dropdown-menu-wtj a {display: block;color: #434343;padding: 0 20px;height: 46px;line-height: 46px;box-sizing: border-box;}
.dropdown-menu-wtj a:hover {background-color: #434343;color: #fff;}

/* recomd index和list用到 */
.recommd-main {width: 1240px;display: flex;flex-wrap: wrap;}
.recommd-body {width: 300px;padding: 12px;overflow: hidden;box-sizing: border-box}
.recommd-body:hover {background-color: rgb(240,240,240);}
.recommd-body dl {width: 276px;float:left;margin-top: 10px;position: relative;}
.recommd-body dl dt a{display: block; height: 276px;width: 276px;text-align: center;line-height: 276px;overflow: hidden;background: #fff;}
.recommd-body dl dt a img{display: inline-block;vertical-align: middle;max-width: 276px;}
.recommd-body:hover dl dt a img{transition: all 0.5s;transform: scale(1.2)}
.recommd-body dl dd {font-style: normal;}
.recommd-body dl dd a {display: block;margin-top: 15px;font-size: 12px;}
.recommd-body dl dd p {height: 35px;line-height: 35px; font-size:14px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.recommd-body dl dd span {display: block;margin-bottom: 15px;color: #999;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 100%;}
.recommd-body dl dd  i {font-style: normal;display: block;font-size: 14px;color: red;}
.recommd-body dl dd em {font-style: normal;display: block;background: skyblue;color: #fff;text-align:center;width: 150px;margin: 0 auto;font-size: 16px;line-height: 35px;height: 35px;;border-radius: 5px;margin-bottom: 15px;cursor: pointer;}
















/* footer */
.footer {background: #f0f0f0;color: #999;margin-top: 80px;}
.footer_t {display: flex;justify-content: space-around;padding: 40px 0;border-bottom: 1px solid #ddd;}
.footer_t a {overflow: hidden;}
.footer_t a i {float: left;background: url(../img/b_ic.png) no-repeat;}
.footer_t a .footer_t_aright{float: left;margin-left: 44px;}
.footer_t a span {color: #333;font-size: 24px;line-height: 24px;}
.footer_t a p {color: #999;font-size: 16px ;margin-top: 6px;}
.footer_t a:nth-child(1) i{width: 58px; height: 36px;margin-top: 10px;}
.footer_t a:nth-child(2) i{width: 49px; height: 49px;background-position: -66px 0;}
.footer_t a:nth-child(3) i{width: 47px; height: 47px;background-position: -123px 0;}

.footer_c {padding: 30px 0;border-bottom: 1px solid #ddd;overflow: hidden;}
.footer_c_l  {float: left;}
.footer_c_l img {width: 114px;}
.footer_c_l p {margin-top: 65px;font-size: 12px;}
.footer_c_l span {font-size: 12px;}
.footer_c_c {float: left;overflow: hidden;margin-left: 100px;}
.footer_c_c ul {float: left;overflow: hidden;margin-right: 100px;}
.footer_c_c ul span {display: block; font-size: 18px;color: #333;margin-bottom: 20px;}
.footer_c_c ul li {height: 24px;line-height: 24px;}
.footer_c_c ul li a {color: #999;font-size: 12px;}
.footer_c_c ul li a:hover {color: #333}
.footer_c_r {float: right;}
.footer_c_r p {font-size: 12px;color: #999;margin-top: 10px;text-align: center;}

.links {padding: 10px 0;overflow: hidden;}
.links_l {float: left;width: 1150px;}
.links_l a {display: inline-block;color: #999;margin-right: 13px;font-size: 12px;}
.links_l a:hover {color: #333;}
.links_l .links_m {display: none;}
.links_moreIcon {background: url(../img/commodityicon.png) no-repeat -45px 0;width: 17px;height: 17px;float: right;margin-right: 30px;cursor: pointer;}

/* ingmenu */
.ingmenu {position: fixed;right: 30px;bottom: 100px;width: 24px;z-index: 999;display: none;}
.ingmenu li {position: relative;margin-bottom: 30px;cursor: pointer;}
.ingmenu li a {display: block;background-image: url(../img/wtjicon.png);}
.ingmenu li a:hover {opacity:.6;}
.imgmenu_ico1 { background-position: -280px -345px;height: 34px;width: 27px;}
.imgmenu_ico2 { background-position: -65px -360px;height: 24px;width: 22px;}
.imgmenu_ico3 { background-position: -280px -413px;height: 26px;width: 28px;}

/* login */
.cover {overflow: hidden;}

.login {position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: auto;display: none;z-index: 999;height: 100%;}
.login-back {position: absolute;z-index: -1;opacity: 0.8;background: #fff;height: 100%;width: 100%;}
.login .close {display: block;width: 35px;height: 35px;background: url(../img/commodityicon.png) no-repeat -40px -149px;position: absolute; right: 20px;top: 20px;z-index: 999;}

.login .login-main {margin:auto;margin-top: 50px;width: 420px;height: 468px;padding: 40px;z-index: 999;}
.login-main h3{color: #333;font-size: 20px;height: 38px;display: block;text-align: center;}
.login-main p {line-height: 22px;font-size: 12px;}

.other-login {display: flex;justify-content: space-between;padding: 23px 0 2px;}
.other-login a {color: #fff;height: 46px;line-height: 46px;font-size: 14px;text-indent: 25px; border-radius: 4px;text-align: center;position: relative;}
.other-login a:hover {opacity: .8;}
.other-login a i{position: absolute;display: inline-block;background-image: url(../img/wtjicon.png);left: 10px;top: 10px;opacity: 0.8;}
.other-login a:nth-child(1) {width: 130px;background: #e74c3a;}
.other-login a:nth-child(1) i {width: 29px;height: 23px;background-position: -94px 0;}
.other-login a:nth-child(2) {width: 130px;background: #1dadea;}
.other-login a:nth-child(2) i {width: 25px;height: 25px;background-position: -126px 0;}
.other-login a:nth-child(3) {width: 130px;background: #00c400;}
.other-login a:nth-child(3) i {width: 28px;height: 23px;background-position: -154px 0;}

.login-body li {color: #333;margin-top: 5px;}
.login-body li:nth-child(1) {padding: 25px 0 20px;}
.login-body li:nth-child(2) input{width: 418px;height: 46px;line-height: 46px;text-indent: 15px;font-size: 14px;border: 1px solid #999;}
.login-body li:nth-child(3) {margin: 15px 0 20px;}
.login-body li:nth-child(3) input {width: 418px;height: 46px;line-height: 46px;text-indent: 15px;font-size: 14px;border: 1px solid #999;}
.login-body li:nth-child(4) {margin-top: 5px;}
.login-body li:nth-child(4) a {float: right;}
.login-body li:nth-child(5) {margin-top: 15px;}
.login-body li:nth-child(5) a {display: block; height: 46px;line-height: 46px;font-size: 14px;font-weight: bold;border-radius: 4px;background: #111;color: #fff;text-align: center;}
.login-body li:nth-child(6) {text-align: center;height: 40px;line-height: 40px;}
.login-body li:nth-child(6) i {color: #999}


.login .register {margin:auto;margin-top: 50px;width: 420px;height: 468px;padding: 40px;display: none;}
.register h3{color: #333;font-size: 20px;height: 38px;display: block;text-align: center;}
.register p {line-height: 22px;font-size: 12px;}

.register li {color: #333;margin-top: 5px;}
.register li:nth-child(1) {padding: 25px 0 20px;}
.register li:nth-child(2) input{width: 418px;height: 46px;line-height: 46px;text-indent: 15px;font-size: 14px;border: 1px solid #999;}
.register li:nth-child(3) {margin: 15px 0 20px;}
.register li:nth-child(3) input {width: 418px;height: 46px;line-height: 46px;text-indent: 15px;font-size: 14px;border: 1px solid #999;}

.register li:nth-child(4) {margin-top: 15px;}
.register li:nth-child(4) a {display: block; height: 46px;line-height: 46px;font-size: 14px;font-weight: bold;border-radius: 4px;background: #111;color: #fff;text-align: center;}
.register li:nth-child(5) {text-align: center;height: 40px;line-height: 40px;}
.register li:nth-child(5) i {color: #999}
.lj-register {cursor: pointer;}
.lj-login {cursor: pointer;}


/* banner */
.banner {width: 1349px;height: 548px;position: relative;}
.prev_lb {position: absolute;width: 42px;height: 78px;background: url(../img/wtjicon.png) no-repeat -125px -30px;left: 10px;top: 50%;z-index: 9}
.prev_lb:hover{background-position: -220px -30px;}
.next_lb {position: absolute;width: 42px;height: 78px;background: url(../img/wtjicon.png) no-repeat -168px -30px;right: 10px;top: 50%;z-index: 9;}
.next_lb:hover{background-position: -265px -30px;}